body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url(../imagenes/background.jpg);
        }

        header {
            background-color: #9fc01a;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        /* ===== Barra de navegación ===== */

        .logo {
            height: 40px;
        }

        .notbutt {
            height: 50px;
            transition: transform 0.2s
        
        }

        .notbutt:hover{
            transform: scale(1.1);
        }

        .volver-btn{
            height: 75px;
            padding: 20px;
            transition: transform 0.2s
        }

        .volver-btn:hover{
            transform: scale(1.1);
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: none;
            color: white;
            padding: 10px 20px;
        }

        .navbar h1 {
            margin: 0;
            font-size: 22px;
        }

        .nav-buttons button {
            background: none;
            border: none;
            color: white;
            font-size: 22px;
            cursor: pointer;
            margin-left: 15px;
        }

        .nav-buttons button:hover {
            color: #87cb28;
        }

        .titulo{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .menu-btn {
            width: 350px;
            padding: 30px 60px 30px 60px;
            margin: 10px;
            font-size: 30px;
            cursor: pointer;
            border: none;
            background-color: #000000;
            color: #87cb28;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        /* ===== Contenedor central ===== */
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(60vh - 60px);
            text-align: center;
            gap: 15px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .row {
            margin: 10px 0;
        }

        button.main-btn {
            width: 350px;
            padding: 30px 60px 30px 60px;
            margin: 10px;
            font-size: 30px;
            cursor: pointer;
            border: none;
            background-color: #000000;
            color: white;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        button.main-btn:hover {
            background-color: #87cb28;
        }

        /* ===== Paneles laterales ===== */
        .side-panel {
            position: fixed;
            top: 0;
            right: -320px; /* Más escondido */
            width: 300px;
            height: 100%;
            background-color: white;
            box-shadow: -2px 0 8px rgba(0,0,0,0.2);
            transition: right 0.3s ease, opacity 0.3s ease;
            padding: 20px;
            z-index: 100;
            opacity: 0; /* Oculto por defecto */
            pointer-events: none; /* Evita clics cuando está oculto */
            color:#000000;
        }

        .side-panel.active {
            right: 0;
            opacity: 1;
            pointer-events: auto; /* Se puede interactuar */
        }


        .side-panel h2 {
            margin-top: 0;
        }

        .close-btn {
            background: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
        }

        .panel-item {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

        .panel-item:hover {
            background-color: #f0f0f0;
        }

        footer {
            background-color: #9fc01a;
            color: #fff;
            padding: 10px;
            text-align: center;
            margin-top: 40px;
            position:fixed;
            bottom: 0px;
            width: 99%;
            
        }