{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Pedido - Biofresco</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header>
        Nuevo horario de atención: Lunes a viernes de 9:00 a 16:00 hrs.
    </header>

    <div class="confirmar-contenedor">
        <img src="{% static 'imagenes/logo_biofresco.png' %}" alt="Biofresco" class="logo">
        <h2 style="color:#000000;">Confirmar Pedido</h2>

        <div class="confirmar-box">
            <form id="pedidoForm">
                <input type="text" id="codigo" placeholder="Código de pedido" required>
                <label for="foto"><strong>Subir foto de la entrega:</strong></label>
                <input type="file" id="foto" accept="image/*" required>

                <div class="botones">
                    <button type="submit" class="boton-confirmar">Confirmar entrega</button>
                    <button type="button" id="cancelarBtn" class="boton-cancelar">Cancelar entrega</button>
                </div>

                <div id="motivoCancelacion" style="display:none; margin-top:15px;">
                    <textarea id="motivo" placeholder="¿Por qué se cancela la entrega?"></textarea>
                    <button type="button" id="enviarMotivo" class="boton-confirmar">Enviar motivo</button>
                </div>
            </form>
        </div>
    </div>

    <div id="mensaje">
        <div class="modal">
            <p id="mensajeTexto"></p>
            <button onclick="cerrarMensaje()">Cerrar</button>
        </div>
    </div>
    <div>
            <a href="{% url 'home' %}"><img src="{% static 'imagenes/volver.png' %}" alt="volver" class="volver-btn"></a>
    </div>
    <script src="{% static 'script_confirmacion.js' %}"></script>
    </body>
</html>