{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biofresco - Gestión de Inventario</title>
    <!-- BOOTSTRAP y Google Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_.css' %}">
</head>
<body class="b-light d-flex">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
        <div class="container-fluid">
            <div class="logo mb-2 fs-4 mt-2">☰</div>
            <div><a href="#"><img class="logo-bio ml-2 fs-5" src="{% static 'imagenes/logo_biofresco.png'%}" alt=""></a></div>
            

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item px-2"><a class="nav-link active poppins-medium" href="#">Inicio</a></li>
                    <li class="nav-item px-2"><a class = "nav-link fs-5" href="#" id="notifBtn">🔔</a></li>
                    <li class="nav-item px-2"><a class="nav-link user text-white rounded-circle d-flex align-items-center justify-content-center" href="#" id="settingsBtn">
                            {{ request.user.username|first|upper }}
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SIDEBAR -->
    <aside class="sidebar d-flex flex-column align-items-center p-2 border-end shadow-sm" style="width:70px; margin-top:70px;">
        <ul class="nav flex-column text-center w-100 ">
          <li class="nav-item p-3 mb-2"><a href="{% url 'home' %}">🏠</a></li>
          <li class="nav-item p-3 mb-2"><a href="{% url 'productos' %}">🍎</a></li>
          <li class="nav-item p-3 mb-2">📂</li>
          <li class="nav-item activo p-3 mb-2"><a href="{% url 'recepcion' %}">📥</a></li>
          <li class="nav-item p-3 mb-2">💼</li>
          <li class="nav-item p-3 mb-2">📸</li>
        </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main container-fluid">
        <h2 class="poppins-semibold p-2 ms-2"> Recepción de productos - Bodega </h2>

        <!-- CARDS GRID -->
        <div class="row g-1">
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                <a href="{% url 'agregar_recepcion' %}">
                <div class="card purple p-3 d-flex flex-row align-items-center shadow-sm">
                    
                    <div class="icon me-3">📥</div>
                    <div class="info">
                        <h3 class="poppins-medium">Registrar Recepción</h3>
                    
                    </div>
                </div>
            </a>
            </div>
            


            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
                <a href="{% url 'recepciones' %}">
                <div class="card blue p-3 d-flex flex-row align-items-center shadow-sm">
                    <div class="icon me-3">📂</div>
                    <div class="info">
                        <h3 class="poppins-medium">Modificar Recepción</h3>
                        <p class="poppins-regular">modificar-eliminar</p>
                    </div>
                </div>
            </div>
            </a>
            </div>



        </div>

    </main>

    <!-- ===== PANEL DE NOTIFICACIONES ===== -->
    <div id="notifPanel" class="side-panel">
        <button class="close-btn" onclick="closePanel('notifPanel')">✖️</button>
        <h2 class="poppins-medium">Notificaciones</h2>
        <div class="panel-item poppins-regular">notificacion</div>
        <div class="panel-item poppins-regular">notificacion</div>
    </div>

    <!-- ===== PANEL DE CONFIGURACIÓN ===== -->
    <div id="settingsPanel" class="side-panel">
        <button class="close-btn" onclick="closePanel('settingsPanel')">✖️</button>
        <h2 class="poppins-medium">Usuario</h2>
        <div class="panel-item poppins-regular">Ver perfil</div>
        <div class="panel-item poppins-regular">Cerrar sesión</div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

    <div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>