body{
    background-image: url(../imagenes/background_login.jpg);
    background-size: 100%;
}

nav {
    position: fixed;
    margin-top: 0%;
}

.formulario{
    width: 350px;
    height: 400px;
    
}

.form{
    justify-content: center;
    align-items: center;
}

/* font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
