body {
  font-family: Arial, sans-serif;
  background: white;
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 60px;
  background: white;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px ;
}

.logo {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.sidebar li {
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  transform: 0.2s;
}

.sidebar li.activo {
  border-radius: 50%;
  background: #B3E255;
  padding: 15px;
}

.sidebar li:hover {
  border-radius: 50%;
  background: #B3E255;
  padding: 15px;
}




/* Main */
.main {
  flex: 1;
  padding: 30px 40px;
}

.user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #B3E255;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Filters */
.filters span {
  margin-right: 20px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.section-title {
  margin: 20px 0 10px;
  font-size: 18px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.logo-bio{
    height: 40px;
    padding: 8px;
    padding-left: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    transform: 0.3s;
}

.card:hover{
    transform: scale(1.15);
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
}

.main{
    margin-top: 90px;
}

.blue .icon {
  background: #38a5ff;
}

.purple .icon {
  background: #9b4dff;
}

.yellow .icon {
  background: #ffbe2e;
}

.green .icon {
  background: #28b446;
}

.gray .icon {
  background: #d0d3d8;
  color: black;
}

.info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.info p {
  margin: 3px 0 0;
  color: #777;
  font-size: 13px;
}

/* ===== Paneles laterales ===== */
.side-panel {
    position: fixed;
    top: 0;
    right: -320px; /* Más escondido */
    width: 300px;
    height: 100%;
    margin-top: 70px;
    background-color: white;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    transition: right 0.3s ease, opacity 0.3s ease;
    padding: 20px;
    z-index: 100;
    opacity: 0; /* Oculto por defecto */
    pointer-events: none; /* Evita clics cuando está oculto */
    color:#000000;
}

.side-panel.active {
    right: 0;
    opacity: 1;
    pointer-events: auto; /* Se puede interactuar */
}


.side-panel h2 {
    margin-top: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.panel-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.panel-item:hover {
    background-color: #f0f0f0;
}

/* font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

a{
    text-decoration: none;
    font-style: normal;
}

.mensaje-flotante {
  position: fixed;
  margin-top: 100px;
  top: 80px;
  right: 20px;
  z-index: 9999;
  animation: fadein 0.5s;
}